---
title: Home
---
<ul class="blog-posts">
  <% get_blog_posts.each do |post| %>
    <li class="panel blog-posts-item">
      <%= render 'date', date: get_item_date(post) %>
      <div class="blog-posts-item-body">
        <h2><a href="<%= post.identifier %>"><%= post[:title] %></a></h2>
        <div class="blog-posts-item-lead"><%= post[:lead] %></div>
      </div>
    </li>
  <% end %>
</ul>
<!--ul class="pager">
  <li class="pager-item_next"><a href="">&nbsp;</a></li>
  <li><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li class="pager-item_prev"><a href="">&nbsp;</a></li>
</ul-->