<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css"/>
  <title><%= @item[:title] %></title>
</head>
<body>
  <div class="wrap">
    <div class="header-wrap">
      <div class="header">
        <div class="header-logo"><strong>owl-hollow</strong>.net</div>
        <ul class="header-menu">
          <% if @item.identifier == '/' %>
            <li class="header-menu-item_active"><span>Blog</span></li>
          <% elsif @item[:blog_post] %>
            <li class="header-menu-item_active"><span><a href="/">Blog</a></span></li>
          <% else %>
            <li><a href="/">Blog</a></li>
          <% end %>

          <% if @item.identifier == '/projects/' %>
            <li class="header-menu-item_active"><span>Projects</span></li>
          <% else %>
            <li><a href="/projects/">Projects</a></li>
          <% end %>

          <% if @item.identifier == '/about/' %>
            <li class="header-menu-item_active"><span>About</span></li>
          <% else %>
            <li><a href="/about/">About</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="titlebar-wrap">
      <div class="titlebar"><h1><%= @item[:blog_post] ? "Blog" : @item[:title] %></h1></div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="footer">&copy; Kirill Lebedev</div>
  </div>
</body>
</html>